
<p>Welcome {{name}}</p>
<p>Test works!</p>
<p>Here we are using Javascript methods with interpolation </p>
<p>{{"Length of name"+" "+name.length}}</p>
<p>{{userName()}}<p>
<p>We can't use Javascript global variables directly like Window. global variable . we can only use by defining into class</p>
<p>{{siteUrl}}</p>
<p>Property Binding</p>
<input  [disabled]="true" type = "text" [id]="myId" value = "Jhon">
<input [disabled]="true" [id]="myId" type= "text" value = "Jhon">
<p>Event Binding</p>
<button (click)="onClick()">Click me</button>
{{greeting}}<br>
<br><button (click)="greets='Welcome! This is Event'">Click me</button>
{{greets}}
